*{margin :0;}

body{
  zoom: 67%;
}


#divMenuBlock{
width: 100%;
height: 115px;
background-color: #5ce1e6;
display: flex;
}

#divLogo{
    width: 7%;
    height: 120px;
}

#imageHebertRoboticsLogo{
    height: 120px;
    width: 90%;
}

#divMenuOptions{
    width: 92%;
    height: 115px;
    display: flex;
    align-items: center;
    font-family: "Silkscreen";
}
h4{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 50px;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

h4:hover{
    font-size: 35px;
    transition: 0.5s;
    margin-right: 50px;
    margin-left: 50px; 
    color: white;
}

#homePainel{
    width: 100%;
    height: 100vh;
    background-image: url(Hebert\ Robotics-painel.png);
}

#imagePainel{
    width: 100px;
    height: 10vh;
}

#finalblock{
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    font-family: "distillery";
    position: absolute;
    top: 120vh;
    background-color: #5ce1e6;
    font-family: "distillery";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

@font-face {
    font-family: "distillery";
    src: url(distillery-strong.ttf);
}

#division1{
width: 50%;
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}

#division2{
width: 50%;
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


section{
    display: flex;
}

#titleAbout{
    width: 100%;
    height: 20%;
    font-family: "distillery";
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divTextAbout{
    width: 100%;
    height: 30vh;
    animation-duration: 3s;
  animation-name: slide;

}

h5{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    animation-duration: 3s;
  animation-name: opacity1;
}

@keyframes opacity1 {
  from {
   
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

#HebertRoboticsImage{
    position: absolute;
    top:28vh;
    animation-duration: 3s;
    animation-name: imageHR;
}

@keyframes imageHR {
  from {
   
    top: 10%;
  }

  to {
    top: 28%;
  }
}

/* Smartphones pequenos */
@media (max-width: 480px) {
  body{
    zoom: 15%;
  }
}

/* Smartphones médios */
@media (min-width: 481px) and (max-width: 768px) {
  body{
    zoom: 15%;
  }
}

/* Smartphones grandes */
@media (min-width: 769px) and (max-width: 1024px) {
  body{
    zoom: 15%;
  }
}
